{% block content%} {% for message in messages %}
<div class="container-fluid p-0">
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
		<button
			type="button"
			class="close btn-close"
			data-dismiss="alert"
			aria-label="Close"
			id="closeButton"
		>
			<span aria-hidden="True"></span>
		</button>
		{{ message }}
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const closeButton = document.getElementById("closeButton");
		if (closeButton) {
			closeButton.addEventListener("click", function () {
				// Hide the parent div when the close button is clicked
				const alertDiv = closeButton.closest(".alert");
				if (alertDiv) {
					alertDiv.style.display = "none";
				}
			});
		}
	});
</script>
{% endfor %} {% endblock %}
